#image{
    max-width: 100%;
    height: auto;
    margin:10px auto ;
  }
  
  #title{
    text-align: center;
  }
  #img-div{
    background-color: aliceblue;
  }
  img{
    display: block;
  }
  main{
    background-color: #eaeaea;
  }
  #img-caption{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #tribute-info{
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
  }